Repository 742PM/Quiz, pull requests merged in 2019-03, with the labels that each got.

#34 Update DB architecture to new Domain;
  Complexity/DataBase/DataBase.csproj
  Complexity/DataBase/DatabaseEntities/GeneratorEntities/GeneratorEntity.cs
  Complexity/DataBase/DatabaseEntities/GeneratorEntities/TemplateGeneratorEntity.cs
  Complexity/DataBase/DatabaseEntities/LevelEntity.cs
  Complexity/DataBase/DatabaseEntities/LevelProgressEntity.cs
  Complexity/DataBase/DatabaseEntities/ProgressEntity.cs
  Complexity/DataBase/DatabaseEntities/TaskInfoEntity.cs
  Complexity/DataBase/DatabaseEntities/TopicEntity.cs
  Complexity/DataBase/DatabaseEntities/TopicProgressEntity.cs
  Complexity/DataBase/DatabaseEntities/UserEntity.cs
  Complexity/DataBase/ITaskRepository.cs
  Complexity/DataBase/MongoTaskRepository.cs
  Complexity/DataBase/MongoUserRepository.cs
  Complexity/DataBase/Program.cs
  Complexity/DataBase/Properties/AssemblyInfo.cs
  Complexity/DataBase/packages.config
  Complexity/Tests/Tests.csproj
Labels: backend, database, important

#36 Обновить интерфейс API для новой модели
  Complexity/Application/IApplicationApi.cs
  Complexity/DataBase/DataBase.csproj
  Complexity/DataBase/DatabaseEntities/GeneratorEntities/GeneratorEntity.cs
  Complexity/DataBase/DatabaseEntities/GeneratorEntities/TemplateGeneratorEntity.cs
  Complexity/DataBase/DatabaseEntities/LevelEntity.cs
  Complexity/DataBase/DatabaseEntities/LevelProgressEntity.cs
  Complexity/DataBase/DatabaseEntities/ProgressEntity.cs
  Complexity/DataBase/DatabaseEntities/TaskInfoEntity.cs
  Complexity/DataBase/DatabaseEntities/TopicEntity.cs
  Complexity/DataBase/DatabaseEntities/TopicProgressEntity.cs
  Complexity/DataBase/DatabaseEntities/UserEntity.cs
  Complexity/DataBase/ITaskRepository.cs
  Complexity/DataBase/MongoTaskRepository.cs
  Complexity/DataBase/MongoUserRepository.cs
  Complexity/DataBase/Program.cs
  Complexity/DataBase/Properties/AssemblyInfo.cs
  Complexity/DataBase/packages.config
  Complexity/Tests/Tests.csproj
Labels: backend, important

#39 Final database rework;
  Complexity/Application/Application.cs
  Complexity/Application/DomainExtensions.cs
  Complexity/DataBase/DataBase.csproj
  Complexity/DataBase/DatabaseEntities/GeneratorEntities/GeneratorEntity.cs
  Complexity/DataBase/DatabaseEntities/GeneratorEntities/TemplateGeneratorEntity.cs
  Complexity/DataBase/DatabaseEntities/LevelEntity.cs
  Complexity/DataBase/DatabaseEntities/LevelProgressEntity.cs
  Complexity/DataBase/DatabaseEntities/TopicEntity.cs
  Complexity/DataBase/DatabaseEntities/UserEntity.cs
  Complexity/DataBase/Entities/LevelProgressEntity.cs
  Complexity/DataBase/Entities/TaskInfoEntity.cs
  Complexity/DataBase/Entities/TopicProgressEntity.cs
  Complexity/DataBase/Entities/UserEntity.cs
  Complexity/DataBase/Entities/UserProgressEntity.cs
  Complexity/DataBase/ITaskRepository.cs
  Complexity/DataBase/IUserRepository.cs
  Complexity/DataBase/MongoTaskRepository.cs
  Complexity/DataBase/MongoUserRepository.cs
  Complexity/DataBase/Program.cs
  Complexity/Domain/Entities/Level.cs
  Complexity/Domain/Entities/TaskGenerators/ExampleTaskGenerator.cs
  Complexity/Domain/Entities/TaskGenerators/TaskGenerator.cs
  Complexity/Domain/Entities/TaskGenerators/TemplateGenerator.cs
  Complexity/Domain/Entities/Topic.cs
  Complexity/Domain/Values/Task.cs
  Complexity/Tests/ApplicationTests.cs
  Complexity/Tests/TestUserRepository.cs
Labels: backend, database, important

#42 Web api
  Complexity/Complexity/ComplexityWebApi.csproj
  Complexity/Complexity/Controllers/BotController.cs
  Complexity/Complexity/DTO/LevelInfoDTO.cs
  Complexity/Complexity/DTO/TaskInfoDTO.cs
  Complexity/Complexity/DTO/TopicInfoDTO.cs
  Complexity/Complexity/Startup.cs
Labels: backend

#47 Web api
  Complexity/Application/Application.cs
  Complexity/Application/IApplicationApi.cs
  Complexity/Complexity/ComplexityWebApi.csproj
  Complexity/Complexity/Controllers/BotController.cs
  Complexity/Complexity/Controllers/UserDatabaseController.cs
  Complexity/Complexity/DTO/LevelInfoDTO.cs
  Complexity/Complexity/DTO/TaskInfoDTO.cs
  Complexity/Complexity/DTO/TopicInfoDTO.cs
  Complexity/Complexity/Startup.cs
Labels: backend, important

#46 Version 0.4
  Complexity/Application/AccessDeniedException.cs
  Complexity/Application/Application.cs
  Complexity/Application/Application.csproj
  Complexity/Application/DomainExtensions.cs
  Complexity/Application/IApplicationApi.cs
  Complexity/Application/ITaskGeneratorSelector.cs
  Complexity/Application/Info/LevelInfo.cs
  Complexity/Application/Info/TaskInfo.cs
  Complexity/Application/Info/TopicInfo.cs
  Complexity/Complexity.sln.DotSettings
  Complexity/Complexity/ComplexityWebApi.csproj
  Complexity/Complexity/Controllers/BotController.cs
  Complexity/Complexity/Controllers/UserDatabaseController.cs
  Complexity/Complexity/Controllers/ValuesController.cs
  Complexity/Complexity/DTO/LevelInfoDTO.cs
  Complexity/Complexity/DTO/TaskInfoDTO.cs
  Complexity/Complexity/DTO/TopicInfoDTO.cs
  Complexity/Complexity/Program.cs
  Complexity/Complexity/Startup.cs
  Complexity/DataBase/DataBase.csproj
  Complexity/DataBase/DataBaseController.cs
  Complexity/DataBase/DataTransferObjects/AnswerDTO.cs
  Complexity/DataBase/DataTransferObjects/LevelDTO.cs
  Complexity/DataBase/DataTransferObjects/TaskDTO.cs
  Complexity/DataBase/DataTransferObjects/TopicDTO.cs
  Complexity/DataBase/DataTransferObjects/UserDTO.cs
  Complexity/DataBase/Entities/LevelProgressEntity.cs
  Complexity/DataBase/Entities/TaskInfoEntity.cs
  Complexity/DataBase/Entities/TopicProgressEntity.cs
  Complexity/DataBase/Entities/UserEntity.cs
  Complexity/DataBase/Entities/UserProgressEntity.cs
  Complexity/DataBase/IController.cs
  Complexity/DataBase/ITaskRepository.cs
  Complexity/DataBase/IUserRepository.cs
  Complexity/DataBase/MongoDatabaseInitializer.cs
  Complexity/DataBase/MongoTaskRepository.cs
  Complexity/DataBase/MongoUserRepository.cs
  Complexity/DataBase/Program.cs
  Complexity/DataBase/Progress.cs
  Complexity/DataBase/Properties/AssemblyInfo.cs
  Complexity/DataBase/packages.config
  Complexity/Domain/Entities/Level.cs
  Complexity/Domain/Entities/TaskGenerators/ExampleTaskGenerator.cs
  Complexity/Domain/Entities/TaskGenerators/TaskGenerator.cs
  Complexity/Domain/Entities/TaskGenerators/TemplateGenerator.cs
  Complexity/Domain/Entities/Topic.cs
  Complexity/Domain/IQuestionApi.cs
  Complexity/Domain/Level.cs
  Complexity/Domain/Task.cs
  Complexity/Domain/Topic.cs
  Complexity/Domain/Values/Task.cs
  Complexity/Infrastructure/Entity.cs
  Complexity/Infrastructure/MustBeSavedAttribute.cs
  Complexity/Infrastructure/Value.cs
  Complexity/Tests/ApplicationTests.cs
  Complexity/Tests/Domain_Should.cs
  Complexity/Tests/TestGenerator.cs
  Complexity/Tests/TestUserRepository.cs
  Complexity/Tests/Tests.csproj
  Complexity/Tests/UnitTest1.cs
Labels: backend, database, important

#53 create level tree
  Complexity/Application/Application.csproj
  Complexity/DataBase/DataBase.csproj
  Complexity/DataBase/ITaskRepository.cs
  Complexity/DataBase/MongoTaskRepository.cs
  Complexity/Domain/Class1.cs
  Complexity/Domain/Entities/Level.cs
  Complexity/Tests/Domain_Should.cs
Labels: backend, database

#55 First Api implementation
  Complexity/Application/Application.cs
  Complexity/Application/DataBaseExtensions.cs
  Complexity/Application/DomainExtensions.cs
  Complexity/Application/Exceptions/AccessDeniedException.cs
  Complexity/Application/Exceptions/OutOfHintsException.cs
  Complexity/Application/IApplicationApi.cs
  Complexity/Application/ITaskGeneratorSelector.cs
  Complexity/Application/ObjectExtensions.cs
  Complexity/ComplexityWeb/Controllers/BotController.cs
  Complexity/Infrastructure/Infrastructure.csproj
  Complexity/Tests/ApplicationTests.cs
  Complexity/Tests/Mocks/TestGenerator.cs
  Complexity/Tests/Mocks/TestTaskGeneratorSelector.cs
  Complexity/Tests/Mocks/TestTaskRepository.cs
  Complexity/Tests/Mocks/TestUserRepository.cs
  Complexity/Tests/Tests.csproj
Labels: backend, important

#58 Сущности прогресса стали неизменяемыми
  Complexity/Application/Application.cs
  Complexity/Application/Application.csproj
  Complexity/Application/DataBaseExtensions.cs
  Complexity/Application/DomainExtensions.cs
  Complexity/Application/Exceptions/AccessDeniedException.cs
  Complexity/Application/IApplicationApi.cs
  Complexity/Application/ITaskGeneratorSelector.cs
  Complexity/Application/Info/LevelInfo.cs
  Complexity/Application/Info/TaskInfo.cs
  Complexity/Application/Info/TopicInfo.cs
  Complexity/Application/ObjectExtensions.cs
  Complexity/ComplexityWeb/Controllers/BotController.cs
  Complexity/ComplexityWeb/Controllers/UserDatabaseController.cs
  Complexity/ComplexityWeb/DTO/LevelInfoDTO.cs
  Complexity/ComplexityWeb/DTO/TaskInfoDTO.cs
  Complexity/ComplexityWeb/DTO/TopicInfoDTO.cs
  Complexity/ComplexityWeb/Program.cs
  Complexity/ComplexityWeb/Startup.cs
  Complexity/ComplexityWeb/appsettings.Development.json
  Complexity/ComplexityWeb/appsettings.json
  Complexity/DataBase/DataBase.csproj
  Complexity/DataBase/Entities/LevelProgressEntity.cs
  Complexity/DataBase/Entities/TaskInfoEntity.cs
  Complexity/DataBase/Entities/TopicProgressEntity.cs
  Complexity/DataBase/Entities/UserEntity.cs
  Complexity/DataBase/Entities/UserProgressEntity.cs
  Complexity/DataBase/MongoDatabaseInitializer.cs
  Complexity/DataBase/MongoTaskRepository.cs
  Complexity/DataBase/Program.cs
  Complexity/Domain/Entities/Level.cs
  Complexity/Domain/Entities/TaskGenerators/ExampleTaskGenerator.cs
  Complexity/Domain/Entities/TaskGenerators/TaskGenerator.cs
  Complexity/Domain/Entities/TaskGenerators/TemplateGenerator.cs
  Complexity/Domain/Values/Task.cs
  Complexity/Infrastructure/Result/Maybe.cs
  Complexity/Infrastructure/Result/Result.cs
  Complexity/Tests/ApplicationTests.cs
  Complexity/Tests/Domain_Should.cs
  Complexity/Tests/Mocks/TestGenerator.cs
  Complexity/Tests/Mocks/TestTaskGeneratorSelector.cs
  Complexity/Tests/Mocks/TestTaskRepository.cs
  Complexity/Tests/Mocks/TestUserRepository.cs
Labels: backend

#59 MongoDB connection is now available for everyone in the world;
  Complexity/DataBase/MongoDatabaseInitializer.cs
  Complexity/DataBase/Program.cs
Labels: database, management
